.shift-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shift-title {
  h2 {
    font-size: 30px;
  }
}

.shift-calendar {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.shift-form-card {
  background-color: $whiteA;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .shift-input-text {
    width: 100%;
    margin-bottom: 10px;
  }

  .shift-input-number {
    width: 100%;
    margin-bottom: 10px;
  }

  .shift-input-textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
  }

  .shift-button-save {
    width: 100%;
  }
}